<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<system.web>
		<compilation debug="true" targetFramework="4.0"/>
        <httpRuntime executionTimeout="110" maxRequestLength="20000" />
	</system.web>
	<connectionStrings>
  <add name="my" connectionString="Data Source=ABC-PC\SQLEXPRESS;Initial Catalog=my database;Integrated Security=True" />
  <!--<add name="DemoDBConnectionString" connectionString="Data Source=SHREEJI-PC\KESHA;Initial Catalog=DemoDB;Integrated Security=True"   providerName="System.Data.SqlClient" />-->

</connectionStrings>
</configuration>
